$body: #f3f7fa;
$boxShadow: #0000001a;
$filterTitle: #4a4a4a;
$filtersHover: #f1fcff;
$ticketsPrice: #2196f3;
$transferTitle: #a0b0b9;
$border: #dfe5ec;

body {
  margin: 0;
  padding: 0;
  background: $body;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.flex {
  position: relative;
  margin-top: 160px;
  display: flex;
  justify-content: center;
}
.logo {
  position: absolute;
  top: -120px;
}
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
}
