$boxShadow: #0000001a;
$filterTitle: #4a4a4a;
$filtersHover: #f1fcff;
$border: #dfe5ec;
.filters {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 $boxShadow;
  justify-content: space-between;
  height: 252px;
}
.filters__title {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: $filterTitle;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.filters__label {
  width: 212px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $filterTitle;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  transition: all 0.15s linear;
  cursor: pointer;
  &:last-child {
    margin-bottom: 10px;
  }
  &:hover {
    background: $filtersHover;
  }
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 1.5em;
  &:checked + .checkbox__custom {
    background-image: url(../../../public/images/check-select.svg);
  }
}
.checkbox__custom {
  position: absolute;
  margin-left: -2em;
  width: 20px;
  height: 20px;
  background-image: url(../../../public/images/check.svg);
}
@media (max-width: 768px) {
  .filters {
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    width: 100vw;
    background-color: inherit;
    border: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-right: 0;
  }
  .filters__label {
    width: 150px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 $boxShadow;
  }
  .filters__title {
    margin: 0;
    padding: 0;
    position: absolute;
    left: calc(50% - 80px);
    top: -25px;
  }
}
@media (max-width: 520px) {
  .filters {
    margin-bottom: 100px;
  }
  .filters__label {
    width: 140px;
  }
}
